@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="margin-top: 60px;">
    <div>
        <img src="~/Content/Images/bg-home.png" class="imagem-principal" />
    </div>

    <div class="div-opacity-home">
    </div>

    <h4 class="frase-home">DESENVOLVENDO ESTRATÉGIAS INOVADORAS</h4>

    <h1 class="frase-home">CONQUISTANDO RESULTADOS</h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <h1 class="frase-home">Coach</h1>
        <div class="col-md-12">
            <p style="text-align: center">
                Lorem ipsum dolor sit amet, id cetero inciderint vel. Purto blandit vix an, eros dolorum copiosae ex per, vel te verterem patrioque. Ad has expetendis consectetuer, vis no apeirian elaboraret interesset. Assentior consequuntur mea an. Ne nam sonet probatus tacimates, pro at stet postea, adhuc iisque at vix.
                Sea ne impetus volumus reprehendunt, viris menandri id mel. Tibique quaestio eu nam, falli putent essent ne mei, in mea esse corrumpit. Tamquam ancillae at pri, brute graeco voluptatum ut mel, has ei primis persius bonorum. Id quo veniam albucius aliquando. Possit semper quo ad, ei quo novum antiopam disputando.
            </p>
            <p style="text-align: center">
                Lorem ipsum dolor sit amet, id cetero inciderint vel. Purto blandit vix an, eros dolorum copiosae ex per, vel te verterem patrioque. Ad has expetendis consectetuer, vis no apeirian elaboraret interesset. Assentior consequuntur mea an. Ne nam sonet probatus tacimates, pro at stet postea, adhuc iisque at vix.
                Sea ne impetus volumus reprehendunt, viris menandri id mel. Tibique quaestio eu nam, falli putent essent ne mei, in mea esse corrumpit. Tamquam ancillae at pri, brute graeco voluptatum ut mel, has ei primis persius bonorum. Id quo veniam albucius aliquando. Possit semper quo ad, ei quo novum antiopam disputando.
            </p>
        </div>
    </div>
</div>