body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: white;
}

    a:hover {
        color: #7DCADA;
        text-decoration: none;
    }

.navbar-inverse .navbar-nav > li > a:hover {
    color: #7DCADA;
    text-decoration: none;
}

.menu-principal {
    margin-top: 35px;
}

    .menu-principal li {
        font-family: 'Raleway';
    }

.nome-site {
    color: white;
    font-size: 22px;
    font-family: 'Raleway';
}

.titulo-site {
    color: #7DCADA;
    font-size: 26px;
    font-family: 'Raleway';
}

.imagem-principal {
    width: 100%;
    position: relative;
    display: inline-block;
}

.div-opacity-home {
    margin-top: -90px;
    background-color: white;
    position: absolute;
    display: block;
    opacity: 0.7;
    width: 100%;
    height: 100px;
}

h4.frase-home {
    text-align: center;
    color: #013554;
    position: relative;
    margin-top: -70px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

h1.frase-home {
    text-align: center;
    color: #013554;
    position: relative;
    margin-top: 20px;
    font-family: 'Raleway';
    font-size: 60px;
}


h1.frase-interna {
    text-align: center;
    color: #6EA4CA;
    position: relative;
    margin-top: 20px;
    font-family: 'Raleway';
    font-size: 60px;
    padding-top: 60px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.footer-class {
    background-color: #013554;
    position: relative;
    width: 100%;
    height: 300px;
}

.hr-interna {
    background: #6EA4CA;
    width: 50%;
    height: 5px;
}

.conteudo-interna h2 {
    color: #39729B;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 40px;
}

.conteudo-interna p {
    color: #0C3C60;
}

.row-interna {
    margin-top: 100px;
}

    .row-interna img {
        float: right;
        margin-bottom: 20px;
    }
