
@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top: 60px;">
    <h1 class="frase-interna">TIPOS DE COACHING</h1>
    <hr class="hr-interna" />
</div>

<div class="row">
    <div class="container">

        <div class="row row-interna">
            <div class="col-md-4">
                <img src="~/Content/Images/content-image-1.jpg" />
            </div>
            <div class="col-md-8 conteudo-interna">
                <h2>COACHING DE VIDA</h2>
                <p>
                    Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit is the first known version ("Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"). It was found
                </p>
            </div>
        </div>

        <div class="row row-interna">
            <div class="col-md-4">
                <img src="~/Content/Images/content-image-2.jpg" />
            </div>
            <div class="col-md-8 conteudo-interna">
                <h2>COACHING FINANCEIRO</h2>
                <p>
                    Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit is the first known version ("Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"). It was found
                </p>
            </div>
        </div>

        <div class="row row-interna">
            <div class="col-md-4">
                <img src="~/Content/Images/content-image-1.jpg" />
            </div>
            <div class="col-md-8 conteudo-interna">
                <h2>ESPECIFICAÇÃO 3</h2>
                <p>
                    Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit is the first known version ("Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"). It was found
                </p>
            </div>
        </div>

        <div class="row row-interna">
            <div class="col-md-4">
                <img src="~/Content/Images/content-image-1.jpg" />
            </div>
            <div class="col-md-8 conteudo-interna">
                <h2>ESPECIFICAÇÃO 4</h2>
                <p>
                    Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit is the first known version ("Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"). It was found
                </p>
            </div>
        </div>

    </div>
</div>

